.objectsMap {
  margin-top: 30px !important;
  max-width: 95%;
  margin: auto;

  .objectsContent {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .objectsMap {
    margin-top: 0px !important;
    width: 100%;
  }
}