.objectsMap {
  margin-top: 20px !important;
  max-width: 95%;
  margin: auto;

  @media (max-width: 767px) {
    margin-top: 0px;
  }

  .objectsContent {
    display: flex;
    justify-content: center;

    .map {
      height: 520px;

      @media (max-width: 767px) {
        height: 320px;
      }
    }
  }
}
