.footer {
  position: relative;
  background-color: #ebebeb;
  line-height: 25px;
  margin-top: 25px;

  .footerContent {
    max-width: 95%;
    margin: auto;

    .footerContainer {
      display: flex;
      justify-content: space-between;

      .footerColumn {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .footerColumnTitle {
          display: flex;
          align-items: center;

          .footerColumnLogo {
            height: 68px;
            width: 68px;
          }
          .footerColumnDescription {
            display: flex;
            align-items: justify;
            margin-top: 10px;
            font-size: 21px;
            font-weight: 600;

          }
        }
        .footerColumnAbout {
          margin-top: 10px;
  
          .footerColumnAboutItem {
            text-align: start;
            font-size: 17px;
            text-decoration: none;
            color: black;
            margin: 5px;
          }
        }
        .footerName {
          margin-top: 25px;
          font-size: 17px;
          text-align: center;
          font-weight: 600;
        }
        .footerColumnItem {
          font-size: 17px;
          text-align: center;
          text-decoration: none;
          color: black;
          margin: 5px;
        }
      }
    }
  }

  .rights {
    text-align: center;

    .smtext {
      font-size: 14px;
    }

    .maintext {
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    display: block;

    .footerContent {
      display: block;

      .footerContainer {
        flex-direction: column;
        margin: 20px !important;

        .footerColumn {
          display: flex;
          justify-content: center;

          .footerColumnTitle {
            display: flex;
            justify-content: center;
          }
          .footerColumnAbout {
            text-align: center;

            .footerColumnAboutItem {
              text-align: center;
            }
          }
        }
      }
    }
  }
}