.header {
  background-color: #ebebeb;
  border-bottom: 1px #808080 solid;
  
  .headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    .headerLogoBlock {
      display: flex;
      align-items: center;
      margin-right: 40px;

      .logo {
        width: 68px;
        height: 68px;
        margin: 10px;
      }
      .logoTitle {
        font-size: 21px;
      }
    }
    .headerNavBlock {
      display: flex;
  
      .navItem {
        margin: 0px 10px 0px 10px;
        border-bottom: 2px #ebebeb solid;

        .navLink {
          text-decoration: none;
          color: #000;
          font-size: 19px;
          font-weight: 500;
        }
        .navLink:hover {
          color: #000;
        } 
        .navLinkChevron {
          margin-left: 5px;
          margin-bottom: 5px !important;
        }

        .navItemPopup {
          opacity: 0;
          position: absolute;
        }
        .active {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border-radius: 5px;
          z-index: 1212121;
          width: 200px;
          position: absolute;
          opacity: 1;
          transition: 0.3s;
          text-align:left;

          .navItemPopupLinkBlock {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .navItemPopupLink:first-child {
              margin-top: 5px;
            }
            .navItemPopupLink {
              cursor: pointer;
              margin: 0px 0px 5px 0px;
            }
          }
        }
      }

      .navItem:hover {
        border-bottom: 2px #808080 solid;
        transition: 0.5s;
      }
    }
  }
}
  
@media (max-width: 767px) {
  .header {
    display: block;
  
    .headerContent {
      flex-direction: column;
  
      .headerLogoBlock {
        justify-content: center;
  
        .logo {
          width: 40px;
          height: 40px;
          margin: 5px;
        }
        .logoTitle {
          font-size: 14px;
          margin: 5px;
        }
      }
      .headerNavBlock {
        display: flex;
  
        .navItem {
          margin: 5px;
  
          .navLink {
            text-decoration: none;
            color: #000;
            font-size: 12px;
          }
          .navLinkChevron {
            font-size: 10px;
            margin-left: 2px;
            margin-bottom: 2px;
          }
        }
      }
    }
  } 
}