.header {
  background-color: #ebebeb;

  .headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .headerLogoBlock {
      display: flex;
      align-items: center;
      margin-right: 40px;

      .logo {
        width: 68px;
        height: 68px;
        margin: 10px;
      }
      .logoTitle {
        font-size: 20px;
        font-weight: 600;

      }
    }
    .headerNavBlock {
      display: flex;
      align-items: center;

      .navItem {
        margin: 0px 10px 0px 10px;

        .navLink {
          text-decoration: none;
          color: #000;
          font-size: 19px;
        }
        .navLink:hover {
          color: #000;
        } 
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    display: block;

    .headerContent {
      flex-direction: column;

      .headerLogoBlock {
        justify-content: center;

        .logo {
          width: 40px;
          height: 40px;
          margin: 5px;
        }
        .logoTitle {
          font-size: 14px;
          margin: 5px;
        }
      }

      .headerNavBlock {
        display: flex;

        .navItem {
          margin: 5px;

          .navLink {
            text-decoration: none;
            color: #000;
            font-size: 12px;
          }
        }
      }
    }
  } 
}