.fullPageWall {
  height: 95vh;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #5d5d5d;
  text-align: center;
  color: #fff;

  .fullPageTitle {
    padding-top: 250px;
    font-size: 45px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .quickMessage {
    position: relative;
  }
}

@media (max-width: 767px) {
  .fullPageWall {
    display: block;
    height: 580px;

    .fullPageTitle {
      padding-top: 250px;
      font-size: 25px;
      margin: 0 auto;
      padding-bottom: 30px;
    }

    .quickMessage {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }
}