.location {
  position: relative;
  left: 3px;
  margin-top: 30px;
  margin-bottom: 30px;

  .locationContent {
    display: flex;
    justify-content: center;
    max-width: 95%;
    margin: auto;
  }
}