.contacts {
  margin-top: 30px;

  .contactsContent {
    max-width: 95%;
    margin: auto;

    .contactsBlock {
      display: flex;
      justify-content: space-evenly;

      .contactsBlockInfo {
        background-color: #ebebeb;
        padding: 20px;
        border-radius: 5px;

        .contactsBlockTitle {
          display: block;
          font-size: 21px;
        }
        .contactsBlockTel {
          display: flex;
          align-items: center;

          .contactsBlockIcon {
            width: 20px;
            height: 50px;
          }
          .contactsText {
            margin: 5px;
            font-size: 17px;
          }
        }
      }
      .contactsBlockImage {
        display: block;

        .contactBlockImage {
          height: 300px;
          width: 550px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    display: block;

    .contactsContent {
      display: block;

      .contactsBlock {
        flex-direction: column;

        .contactsBlockInfo {
          display: block;
          margin-top: 0px;

          .contactsBlockTitle {
            text-align: center;
          }
          .contactsBlockTel {
            display: flex;
            justify-content: center;
          }
        }

        .contactsBlockImage {
          display: block;

          .contactBlockImage {
            width: 100%;
          }
        }
      }
    }
  }
}