@import './../../../index.scss';

.tools {
  position: relative;
  margin-bottom: 40px;

  .toolsContent {

    .toolItem {
      display: flex;
      justify-content: space-around;

      @media (max-width: 767px) {
        flex-direction: column;
      }
  
      .toolImageBlock {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;

        @media (max-width: 767px) {
          justify-content: center;
          margin-top: 10px;
          margin-bottom: 10px;
          order: -1;
        }
  
        .toolImage {
          width: 658px;
          height: 405px;

          @media (max-width: 767px) {
            width: 100%;
            height: 300px;
          }
        }
      }
  
      .toolTextBlock {
        margin-top: 30px;
        max-width: 95%;
        width: 50%;

        @media (max-width: 767px) {
          width: 100%;
          text-align: justify;
          margin: 0 auto;
          margin-top: 30px;
        }
        
        .toolTitle {
          font-size: $DesktopTitleSize;
          text-align: start;

          @media (max-width: 767px) {
            font-size: 17px;
            text-align: center;
          }
        }
        .toolDescription {
          text-align: start;
          font-size: 15px;
          margin-top: 10px;
          font-weight: 300;

          @media (max-width: 767px) {
            text-align: justify;
          }
        }
      }
    }
  }
}