.tools {
  position: relative;
  margin-bottom: 40px;

  .toolsContent {
    max-width: 1300px;
    margin: auto;

    .toolItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
  
      .toolImageBlock {
        display: block;
  
        .toolImage {
          width: 470px;
          height: 300px;
          margin-top: 20px;
        }
      }
  
      .toolTextBlock {
  
        .toolTitle {
          font-size: 20px;
          margin: 0px 0px 0px 0px;
          text-align: center;
        }
        .toolDescription {
          text-align: justify;
          margin: 10px 25px 0px 25px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tools {
    display: block;

    .toolsContent {
      display: block;

      .toolItem {
        text-align: justify;
        flex-direction: column;

        .toolImageBlock {
          order: 1;
          display: flex;
          justify-content: center;

          .toolImage {
            width: 100%;
          }
        }
        .toolTextBlock {
          display: block;

          .toolTitle {
            font-size: 17px;
          }
        }
      }
    }
  }
}