.tools {
  position: relative;
  margin-bottom: 40px;

  .toolsContent {

    .toolItem {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
  
      .toolImageBlock {
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
  
        .toolImage {
          width: 658px;
          height: 405px;
        }
      }
  
      .toolTextBlock {
        margin-top: 30px;
        max-width: 95%;
        width: 50%;
        
        .toolTitle {
          font-size: 28px;
          text-align: start;
        }
        .toolDescription {
          text-align: start;
          font-size: 15px;
          margin-top: 10px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tools {
    display: block;

    .toolsContent {
      display: block;

      .toolItem {
        text-align: justify;
        flex-direction: column;

        .toolImageBlock {
          order: 1;
          display: flex;
          justify-content: center;
          margin-top: 10px;
          margin-bottom: 10px;
          
          .toolImage {
            width: 100%;
          }
        }
        .toolTextBlock {
          display: block;
          width: 100%;

          .toolTitle {
            font-size: 17px;
            text-align: center;
          }
          .toolDescription {
            text-align: center;
          }
        }
      }
    }
  }
}