@import './../../../index.scss';

.components {
  margin-top: 70px;

  .componentsContent {
    max-width: 95%;
    margin: auto;

    .componentsTitle {
      text-align: center;
      font-size: $DesktopTitleSize;
      margin-bottom: $DesktopTitleMargin;

      @media (max-width: 767px) {
        font-size: $MobileTitleSize;
      }
    }
    .componentsItem {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        margin: 10px;
      }

      .componentsImage {
        width: 100px;
        height: 100px;
      }
      .componentsText {
        margin-left: 20px;
        font-size: 19px;
      }
    }
  }
}