@import './../../../index.scss';

.feedbackForm {
  margin-top: 40px;

  .feedbackFormContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    border: 1px #ebebeb solid;
    border-radius: 10px;
    padding: 20px;

    @media (max-width: 767px) {
      width: auto;
    }

    .feedbackFormTitle {
      text-align: center;
      font-size: $DesktopTitleSize;
      margin-bottom: $DesktopTitleMargin;

      @media (max-width: 767px) {
        font-size: $MobileTitleSize;
      }
    }

    .feedbackNameBlock {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .feedbackNameLabel {
        color: #808080;
      }
      .feedbackNameInput {
        height: 40px;
        width: 500px;
        border-radius: 10px;
        outline: none;
        border: 1px #808080 solid;

        @media (max-width: 767px) {
          width: 350px;
        }
      }

      .feedbackSelectInput {
        height: 40px;
        width: 500px;
        border-radius: 10px;
        outline: none;
        border: 1px #808080 solid;

        @media (max-width: 767px) {
          width: 350px;
        }
      }

      .feedbackMessageInput {
        height: 200px;
        width: 500px;
        border-radius: 10px;
        outline: none;
        border: 1px #808080 solid;

        @media (max-width: 767px) {
          width: 350px;
        }
      }

      .feedbackFileInput {
        //width: 400px;
        //border: 1px #000 solid;
      }
    }
    .feedbackCheckBoxBlock {
      display: flex;
      align-items:flex-start;
      width: 500px;

      .feedbackCheckBoxInput {
        margin: 10px;
      }

      .feedbackCheckBoxText {
        
      }
    }

    .feedbackContinueBlock {
      margin-top: 20px;

      .feedbackContinueInput {
        height: 40px;
        width: 200px;
        border-radius: 10px;
        outline: none;
        border: 1px #808080 solid;
      }

      .feedbackContinueInput:hover {
        background-color: #44944A;
        color: #fff;
        transition: 0.5s;
      }
    }
  }
}