.vacancyListItem {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  border-bottom: 1px #ebebeb solid;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .vacancyPrice {
    display: block;
    margin-top: 35px;
    width: 30%;

    @media (max-width: 767px) {
      width: 100%;
      margin-top: 0px;
    }

    @media (max-width: 1024px) {
      width: 100%;
      margin-top: 0px;
    }
    
    .vacancyPriceInfoBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      .vacancyPriceText {
        border: 2px solid #000000;
        margin: 5px;
        white-space: nowrap;
        text-align: center;
        padding: 30px 60px 30px 60px;
        border-radius: 5px;
        font-size: 19px;
      }
      .vacancyPriceInfo {
        text-align: center;
        font-size: 17px;
        cursor: pointer;
        transform: 0.5s;
      }
      .vacancyPriceInfo:hover {
        color: green;
      }
    }
  }
  .vacancyInfo {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }

    .vacancyTitle {
      position: relative;
      margin-left: 32px;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
        
      
      @media (max-width: 767px) {
        text-align: center;
        margin-left: 0px;
      }

      @media (max-width: 1024px) {
        text-align: center;
        margin-left: 0px;
      }
    }
    .vacancyText {
      display: block;
      font-size: 17px;
    }
  }
}
.vacancyListItem:last-child {
  border-bottom: none;
}