.vacancyList {
  margin-top: 30px;

  .vacancyListContent {
    max-width: 95%;
    margin: auto;

    .vacancyListItem {
      display: flex;
      justify-content: space-evenly;
      margin-top: 35px;

      .vacancyPrice {
        display: block;
        margin-top: 35px;
        width: 50%;
        
        .vacancyPriceInfoBlock {
          display: flex;
          flex-direction: column;
          align-items: center;

          .vacancyPriceText {
            border: 2px solid #000000;
            margin: 5px;
            white-space: nowrap;
            text-align: center;
            padding: 30px 60px 30px 60px;
            border-radius: 5px;
            font-size: 19px;
          }
          .vacancyPriceInfo {
            text-align: center;
            font-size: 17px;
          }
        }
      }
      .vacancyInfo {
        display: flex;
        flex-direction: column;
        width: 50%;

        .vacancyTitle {
          position: relative;
          margin-left: 32px;
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .vacancyText {
          display: block;
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .vacancyList {
    display: block;

    .vacancyListContent {
      display: block;

      .vacancyListItem {
        flex-direction: column;
        justify-content: center;
        
        .vacancyPrice {
          width: auto;
          margin-top: 0px;
          text-align: center;

          .vacancyPriceText {
            padding: 10px;
          }
        }
        .vacancyInfo {
          width: 100%;
          text-align: start;

          .vacancyTitle {
            margin-left: 0px;
          }
        }
      }
    }
  }
}