.vacancyList {
  margin-top: 30px;

  .vacancyListContent {
    max-width: 95%;
    margin: auto;

    .vacancyListItem {
      display: flex;
      justify-content: space-evenly;
      margin-top: 35px;

      .vacancyPrice {
        display: block;
        margin-top: 35px;

        .vacancyPriceText {
          border: 2px solid #000000;
          margin: 5px;
          white-space: nowrap;
          padding: 20px;

        }
        .vacancyPriceInfo {
          text-align: center;
        }
      }
      .vacancyInfo {
        display: flex;
        flex-direction: column;
        width: 60%;

        .vacancyTitle {
          position: relative;
          margin-left: 32px;
        }
        .vacancyText {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .vacancyList {
    display: block;

    .vacancyListContent {
      display: block;

      .vacancyListItem {
        flex-direction: column;
        justify-content: center;
        
        .vacancyPrice {
          width: auto;
          margin-top: 0px;
          text-align: center;

          .vacancyPriceText {
            padding: 10px;
          }
        }
        .vacancyInfo {
          width: 100%;
          text-align: start;

          .vacancyTitle {
            margin-left: 0px;
          }
        }
      }
    }
  }
}