.aboutCompany {
  position: relative;
  margin: 50px;

  .aboutCompanyText {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .aboutCompany {
      position: relative;
      text-align: justify;
      margin: 10px;
  }
}