.aboutCompany {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
  .aboutCompanyText {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .aboutCompany {
      position: relative;
      text-align: justify;
      margin: 10px;
  }
}