@import './../../index.scss';

.header {
  position: fixed;
  width: 100%;
  background-color: #ebebeb;
  border-bottom: 1px #ebebeb solid;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.14);
  z-index: 2;
  
  .headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  
    .headerLogoBlock {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        justify-content: center;
        margin-top: 2px;
      }

      @media (max-width: 1024px) {
        justify-content: center;
        margin-top: 2px;
      }

      .headerLogo {
        width: 68px;
        height: 68px;
        margin: 10px;

        @media (max-width: 767px) {
          width: 40px;
          height: 40px;
          margin: 5px;
        }

        @media (max-width: 1024px) {
          width: 40px;
          height: 40px;
          margin: 5px;
        }
        
      }

      .headerTitleBlock {

        .logoTitle {
          font-size: 23px;
          margin-bottom: -5px;

          @media (max-width: 767px) {
            font-size: $MobileTitleSize;
          }
        }
        .logoSupTitle {
          font-size: 14px;
          color: #808080;

          @media (max-width: 767px) {
            font-size: 12px;
          }
          @media (max-width: 1024px) {
            font-size: 12px;
          }
        }
      }
    }
    .headerNavBlock {
      display: flex;
  
      .navItem {
        margin: 0px 10px 0px 10px;
        border-bottom: 2px #ebebeb solid;

        @media (max-width: 767px) {
          margin: 5px;
        }

        @media (max-width: 1024px) {
          margin: 5px;
        }

        .navLink {
          position: relative;
          text-decoration: none;
          color: #000;
          font-size: 19px;
          font-weight: 500;
          white-space: nowrap;

          @media (max-width: 767px) {
            font-size: 14px;
          }

          @media (max-width: 1024px) {
            font-size: 14px;
          }
        }
        .navLink:hover {
          color: #000;
        } 

        .navItemPopup {
          opacity: 0;
          position: absolute;
        }
        .active {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border-radius: 5px;
          z-index: 2;
          position: absolute;
          opacity: 1;
          transition: 0.3s;
          text-align:left;
          margin-top: 10px;

          .navItemPopupLinkBlock {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;

            .navItemPopupLink:first-child {
              margin-top: 5px;
            }
            .navItemPopupLink {
              cursor: pointer;
              margin: 0px 0px 5px 0px;
              white-space: nowrap;
            }
          }
        }
      }
      .navItem:hover {
        border-bottom: 2px #808080 solid;
        transition: 0.5s;
      }
    }
  }
}