@import './../../../index.scss';

.partnersTitle {
  text-align: center;
  font-size: $DesktopTitleSize;
  margin-bottom: $DesktopTitleMargin;

  @media (max-width: 767px) {
    font-size: $MobileTitleSize;
  }
}

.partners {
  display: flex;

  .partnersItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    pointer-events: none;
    user-select: none;

    .partnersItemText {
      font-size: 12px;
    }
    .partnersItemTextH {
      font-family: 'Sacramento', cursive;
      font-size: 28px;
      text-align: center;
      margin-top: 25px;
    }
  }
}