.reducer {
  margin-top: 30px;

  .reducerContent {
    max-width: 95%;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .vacancyList {
    display: block;

    .vacancyListContent {
      display: block;
    }
  }
}