<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>Transproject</title>
    </head>
    <body>
        <div style="text-align: center;">
            Новый отклик!
        </div>
        <div style="text-align: start;">
            <div>ФИО: {{name}}</div>
            <div>Email: {{email}}</div>
            <div>Номертелефона: {{telnum}}</div>
            <div>Желаемая должность: {{vacancy}}</div>
            <div>Сообщение: {{message}}</div>
        </div>
    </body>
</html>

